@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&family=Fredoka+One&family=Manrope:wght@400;500;600&family=Oxygen:wght@400;700&family=Patua+One&family=Raleway:wght@400;500;600&display=swap');

html,body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}

body p {
    color: rgb(66, 65, 66);
    font-size: 16px;
    line-height: 1.8em;
}

.navbar {
    background: white;
    z-index: 104;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    /* box-shadow: 0.026667rem 0.026667rem 0.106667rem rgb(51 51 51 / 30%); */
}

.navbar .navbar-brand {
  font-family: 'Oxygen', sans-serif;
  font-weight: 600;
}

.navbar .navbar-brand h3 {
    line-height: 1em;
    margin-bottom: 0.2rem;
}

.toggle-btn {
    color: rgb(85, 5, 110);
    border: transparent;
    font-size: 22px;
}

.toggle-btn:hover {
    border: transparent;
    color: rgb(85, 5, 110);
}

.toggle-btn:focus {
    box-shadow: none;
    border: transparent;
}

.btn-withdraw {
    color: rgb(85, 5, 110);
    border: 1px solid rgb(85, 5, 110);
    border-radius: 20px;
    margin-right: 15px;
    font-size: 15px;
}

.btn-deposit {
    color: white;
    background: rgb(85, 5, 110);
    border: 1px solid rgb(85, 5, 110);
    border-radius: 20px;
    margin-right: 15px;
    font-size: 15px;
}

.btn-userdrop {
    color: rgb(241, 170, 38);
}

.btn-userdrop:focus {
    box-shadow: none;
    border: none;
    color: rgb(241, 170, 38);
}

.btn-userdrop:hover {
    color: rgb(241, 170, 38);
    border: none;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(89, 87, 90);
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(85, 5, 110);
}

.navbar-nav .nav-item.active .nav-link {
    color: rgb(85, 5, 110);
}

.drop-menu {
    background: rgb(85, 5, 110);
    border-radius: 0px;
    border: none;
}

.drop-menu li a {
    color: white;
}

.drop-menu li a:hover {
    color: rgb(241, 170, 38);
    background: transparent;
}

.home-banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(../img/aff-market-back.png) no-repeat center;
    height: 350px;
    background-size: cover;
    position: relative;
    padding-top: 120px;
}

.home-banner h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
}

.home-banner p {
    font-family: 'Arima', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.btn-start {
    color: white;
    background: rgb(241, 170, 38);
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
}

.btn-start:hover {
    color: rgb(241, 170, 38);
    border: 1px solid rgb(241, 170, 38);
    background: transparent;
}

.text-oxygen {
    font-family: 'Oxygen', sans-serif;
}

.text-raleway {
    font-family: 'Raleway', sans-serif;
}

.text-arima {
    font-family: 'Arima', sans-serif;
}

.text-fredoka {
    font-family: 'Fredoka One', cursive;
}

.text-patua {
    font-family: 'Patua One', cursive;
}

.text-purple {
    color: rgb(85, 5, 110);
}

.text-orange {
    color: rgb(241, 170, 38);
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.first-content h3 {
    font-weight: 600;
}

.icon-link {
    text-decoration: none;
}

.icon-link .icon-icon {
    color: white;
    background: rgb(85, 5, 110);
    padding: 15px;
    font-size: 30px;
    border-radius: 50%;
}

.icon-link .icon-text {
    color: black;
    line-height: 1.2em;
    margin-top: 7px;
}

.icons-table tr td {
    width: 200px;
}

.btn-more {
    color: white;
    background: rgb(85, 5, 110);
    border: 1px solid rgb(85, 5, 110);
    border-radius: 23px;
}

.btn-more:hover {
    color: rgb(85, 5, 110);
    background: transparent;
    border: 1px solid rgb(85, 5, 110);
}

.promo-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.promo-list li {
  margin-bottom: 10px;
  background: rgb(85, 5, 110);
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 6px;
}

.level-area {
    background: rgb(85, 5, 110);
    border-radius: 6px;
    position: relative;
    /* border: 2px solid rgb(235, 156, 11); */
}

.level-area.disabled {
    opacity: 0.85;
}

.level-area a {
    text-decoration: none;
}

.level-area p {
    color: white;
    font-size: 17px;
}

.abs-lock {
    position: absolute;
    top: 45%;
    left: 45%;
    color: white;
    opacity: 0.4;
}

.sticky-nav {
    position: fixed;
    top: 27%;
    left: 0;
}

.sticky-nav ul {
    position: relative;
    z-index: 99999;
    list-style: none;
    background: rgb(134, 81, 134);
    border-radius: 0px 5px 5px 0px;
    padding-inline-start: 0px;
}

.sticky-nav ul li {
    padding: 15px;
    border-bottom: 1px solid white;
}

.sticky-nav ul li a {
    color: white;
    text-decoration: none;
}

.sticky-nav ul li a.active {
    color: rgb(241, 170, 38);
}

.sticky-nav ul li a:hover {
    color: rgb(241, 170, 38);
}

.sticky-nav ul li a i {
    font-size: 20px;
}

.start-area {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/comercio-abs-back.jpg) no-repeat center;
    height: 300px;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    border-radius: 10px;
}

.sticky-bottom {
    background: rgb(134, 81, 134);
}

.nv-link {
    border-right: 1px solid white;
}

.nv-link a {
    color: white;
    text-decoration: none;
}

.nv-link a.active {
    color: rgb(241, 170, 38);
}

.nv-link a span {
    display: block;
    font-size: 13px;
    font-family: 'Arima', sans-serif;
}

.footer-area {
    background: rgb(33, 32, 34);
}

.footer-area .foot-social a {
   color: white;
   font-size: 20px
}

.footer-area .foot-social a .fab:hover {
    transform: rotateY(360deg);
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    color: rgb(241, 170, 38);
}

.copyright {
    font-size: 13px;
}